# Dữ liệu huấn luyện
data/*
outputs/*
!data/.gitkeep
!outputs/.gitkeep

# Trọng số mô hình
models/*.pth
models/*.pt
models/*.onnx
models/*.engine
!models/.gitkeep
*.pt
*.onnx
*.engine
# Log và kết quả chạy
*.log
*.mp4
# tensorboard_logs/
# demo_videos/

# Môi trường ảo & Python rác
venv/
.venv/
.venv-1/
.env
__pycache__/
*.pyc

# OS rác
.DS_Store
