# Dữ liệu huấn luyện
data/
outputs/
!data/.gitkeep
!outputs/.gitkeep

# Trọng số mô hình
models/*.pth
models/*.pt
models/*.onnx
!models/.gitkeep
# Log và kết quả chạy
*.log
# tensorboard_logs/
# demo_videos/

# Môi trường ảo & Python rác
venv/
.env
__pycache__/
*.pyc

# OS rác
.DS_Store